* {
  box-sizing: border-box;
  -moz-user-input: none;
  margin: 0 0 0.5rem;
  padding: 0;
  outline: none;
  text-align: center;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}